body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
    background-color: #8E90A4;
    color: white;
    font-family: ubuntu, sans-serif;
    margin: 0;
    padding:0;
}

button {
    background-color: #BC81BF;
    color: white;
    width: 6rem;
    height: 2rem;
    border-radius: .4rem;
    font-size: 1rem;
    box-shadow: 3px 3px 12px black;
}

#sidebar {
    background-color: #BC81BF;
    grid-area: 1/1/3/2;
    padding: 1rem;
    box-shadow: 3px 3px 10px black;
}

li {
    font-size: 1.5rem;
    list-style-type: none;
}

#dashboardHeader {
    font-size: 2rem;
}

#nav {
    grid-area: 1/2/2/3;
    background-color: #C7C6C6;
    padding: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    box-shadow: 3px 3px 10px black;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

#topNav {
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
}

#topNavLeft {
    display: grid;
    grid-template-columns: 1fr 15fr;
    align-items: center;
}

#searchbar {
    border-radius: .4rem;
    width: 30rem;
    height: 1.5rem;
    box-shadow: 3px 3px 8px black;
}

#topNavRight {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#bottomNav {
    grid-row: 2/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    justify-content: space-between;
    align-items: center;
}

#bottomLeft {
    display: grid;
    grid-template-columns: 1fr 12fr;
    gap: 1rem;
    align-items: center;
}

#bottomRight {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}

#main {
    grid-area: 2/2/3/3;
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 1rem;
}

.header {
    font-weight: bold;
    font-size: 1.5rem;
    text-shadow: 3px 3px 10px black;
    margin-left: 1rem;
}

#leftMain {
    grid-column: 1/2; 
}

#cardArea {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
}

.card {
    background-color: #C7C6C6;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 3px 3px 10px black;
    border-radius: .5rem;
}

#rightMain {
    grid-column: 2/3;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#trendingBox, #announcementsBox {
    background-color: #C7C6C6;
    margin: 1rem;
    padding: 2rem;
    box-shadow: 3px 3px 10px black;
    border-radius: .5rem;
}